@use "../abstracts/workers" as *;

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
	background-color: var(--bg);
	color: var(--color);
	padding: var(--padding);
	font-weight: var(--font-weight);
	text-align: center;
	border-radius: var(--border-radius);
	transition: var(--transition);
	will-change: var(--will-change);

	&:hover {
		background-color: var(--bg-hover);
		transform: var(--transform);
	}

	&:focus {
		background-color: var(--bg-hover);
	}

	&:active {
		background-color: var(--bg-active);
	}

	@mixin buttons {
		@each $color, $value in $colors {
			// CHECKS
			@if $color ==
				"base" or
				$color ==
				"alt" or
				$color ==
				"action" or
				$color ==
				"white" or
				$color ==
				"black"
			{
				&.btn--#{$color} {
					--bg: var(--#{$color});
					--color: inherit;
					--padding: var(--gap) 1.5em;
					--font-weight: var(--700);
					--border: 0.2rem solid;
					--border-radius: var(--radius-full);
					--border-color: var(--#{$color});
					--transition: var(--all-3);
					--transform: scale(0.98);
					--will-change: all;

					&:hover,
					:focus {
						--bg-hover: var(--#{$color}--hover);
						--border-color: var(--#{$color}--hover);
					}

					&:active {
						--bg-active: var(--#{$color}-dark);
					}
				}
			}
		}
	}

	@include buttons;
}
