$cards: (
	card-radius: var(--radius-s),
	card-box-shadow: var(--card-shadow),
	card-transition: var(--all-5),
);

/* CARD CLASSES */

[class*="-card"] {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	background-size: cover;
	border-radius: var(--card-radius);
	overflow: hidden;
	box-shadow: var(--card-box-shadow);
	transition: var(--card-transition);
}

[class*="-card__head"] {
	order: -1;
	width: 100%;
	flex: 0 0 auto;

	:where(figure) {
		display: inline-block;
		width: 100%;
		height: fit-content;
		margin: 0;
		overflow: hidden;

		img {
			position: static;
			background-size: cover;
			transition: inherit;
		}
	}
}

[class*="-card__body"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4em;
	padding: var(--space-m);
	text-align: center;
	flex-grow: 1;
}
