/* DO NOT TOUCH */
/* DO NOT TOUCH */
@use "../abstracts/workers" as *;

/* CONTAINER WIDTHS */

$containers: (
	container: calc(map-get($container, maxWidth) * 1px),
	container-s: calc(var(--container) * 0.25),
	container-m: calc(var(--container) * 0.5),
	container-l: calc(var(--container) * 0.75),
);

/* CONTAINER ROOT VARIABLES */
@mixin containers {
	@each $container, $value in $containers {
		--#{$container}: #{$value};
	}
}

/*  CONTAINER UTILITY CLASSES */
@mixin container-classes {
	@each $container, $value in $containers {
		.#{$container} {
			padding-block: var(--py);
			margin-inline: var(--mx);
			max-inline-size: var(--#{$container});
			inline-size: 100%;

			--px: initial;
			--py: initial;
			--mx: auto;
			--my: initial;
		}
	}
}
@include container-classes;

section {
	max-inline-size: 100%;
	margin-inline: var(--mx);
	padding: 0 var(--px);

	--px: var(--space-xs);
	--py: initial;
	--mx: auto;
	--my: initial;
}
