/* SITE WIDTHS */
$containers: (
	container: 136.6rem,
	container-s: calc(var(--container) * 0.25),
	// 34.15rem
	container-m: calc(var(--container) * 0.5),
	// 68.3rem
	container-l: calc(var(--container) * 0.75),
	// 102.45rem
);

// CONTAINER UTILITY CLASS LOOP
@mixin containers {
	@each $map-item, $value in $containers {
		.#{$map-item} {
			margin-inline: auto;
			max-width: var(--#{$map-item});
			width: 100%;
		}
	}
}

// CONTAINER UTILITY CLASSES
@include containers;

section {
	max-width: 100%;
	margin-inline: auto;
	padding-inline: var(--gap-xs);
}
