/* BASE SETTINGS */
html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	min-block-size: 100%;
	font-family: var(--body-ff);
	font-weight: var(--fw-400);
	font-size: var(--text-m);
	line-height: var(--lh-2xl);
	word-wrap: break-word;
	background-color: var(--action-ultra-dark);
	color: var(--alt);
}

/* SCREEN READER ACCESSIBLE NO-DISPLAY */
.screen-reader {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
}

/* USER ANIMATION PREFERENCE */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}

/* CLICKABLE CARD */
.clickable-card:not(a) {
	position: static;
}

.clickable-card:not(a) a {
	position: static;
}

.clickable-card:not(a) > a:after {
	content: "";
	position: absolute;
	inset: 0;
	cursor: pointer !important;
	display: flex;
}

a.clickable-card {
	position: static;
}

a.clickable-card:after {
	content: "";
	position: absolute;
	inset: 0;
	cursor: pointer !important;
	display: flex;
}

/* OUTLINE */
:focus,
button:focus {
	outline-style: solid;
	outline-color: var(--alt);
	outline-inline-size: 0.2rem;
	outline-offset: 0.25em;
}

:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:active {
	outline: none;
}

img {
	height: auto;
	max-width: 100%;
	outline: none;
	border-style: none;
	vertical-align: middle;
}
