/* PASTE PROJECT COLORS - base, alt, action respectively*/

$theme: (
	base: #fad400,
	alt: #e4444e,
	action: #004bad,
	tint: #fff,
	shade: #000,
);

/* DO NOT TOUCH ANYTHING BELOW EXCEPT YOU KNOW WHAT YOU'RE DOING */

$hslColors: ();
@each $key, $color in $theme {
	$hValue: round(hue($color));
	$removeDeg: calc($hValue / 1deg);
	$hslColor: (
		h: $removeDeg,
		s: round(saturation($color)),
		l: round(lightness($color)),
	);

	$hslColors: map-merge(
		$hslColors,
		(
			$key: $hslColor,
		)
	);
}

$variations: (
	ultra-light: (
		h: 1,
		s: -2,
		l: 95%,
	),
	light: (
		h: 2,
		s: -1,
		l: 85%,
	),
	medium: (
		h: 3,
		s: 5,
		l: 50%,
	),
	dark: (
		h: 4,
		s: -4,
		l: 25%,
	),
	ultra-dark: (
		h: 5,
		s: -5,
		l: 10%,
	),
);

// COLOR VARIABLES LOOP
@mixin colors {
	@each $color, $values in $hslColors {
		$bH: map-get($values, h);
		$bS: map-get($values, s);
		$bL: map-get($values, l);

		// Generate main colors variables
		--#{$color}-h: #{$bH};
		--#{$color}-s: #{$bS};
		--#{$color}-l: #{$bL};
		--#{$color}: hsl(#{$bH} #{$bS} #{$bL});

		// Generate hovers
		$lh: max(min(round(calc($bL * 1.08)), 100%), 0%);
		--#{$color}-hover: hsl(#{$bH} #{$bS} #{$lh});

		// Loop for variables
		@each $variation, $adjustments in $variations {
			$h: max(min($bH + map-get($adjustments, h), 360), 0);
			$s: max(min($bS + map-get($adjustments, s), 100%), 0%);
			$l: max(min(map-get($adjustments, l), 100%), 0%);

			// Generate variant variables
			--#{$color}-#{$variation}: hsl(#{$h} #{$s} #{$l});
		}

		// Generate transparent variables
		@for $i from 1 through 9 {
			$a: $i * 0.1;
			--#{$color}-#{$i * 10}: hsl(#{$bH} #{$bS} #{$bL} / #{$a});
		}
	}
}
