/* SPACING SYSTEM */
$spacing: (
	space-xxs: clamp(0.82rem, calc(0.16vw + 0.77rem), 0.99rem),
	space-xs: clamp(1.02rem, calc(0.36vw + 0.91rem), 1.4rem),
	space-s: clamp(1.28rem, calc(0.67vw + 1.07rem), 1.98rem),
	space-m: clamp(1.6rem, calc(1.15vw + 1.23rem), 2.8rem),
	space-l: clamp(2rem, calc(1.87vw + 1.4rem), 3.96rem),
	space-xl: clamp(2.5rem, calc(2.96vw + 1.55rem), 5.6rem),
	space-xxl: clamp(3.13rem, calc(4.58vw + 1.66rem), 7.92rem),
	space-3xl: clamp(3.91rem, calc(6.97vw + 1.68rem), 11.19rem),
	space-4xl: clamp(4.88rem, calc(10.46vw + 1.53rem), 15.83rem),
	gap: 0.5em,
	grid-gap: var(--space-m),
	block-gap: var(--space-xl),
	section-gap: var(--space-3xl),
);

/* "space-" VARIABLES */
@mixin spaces {
	@each $space, $value in $spacing {
		--#{$space}: #{$value};
	}
}

/* "space-" CLASSES */
@mixin spacing {
	@each $space, $value in $spacing {
		.#{$space} {
			gap: var(--#{$space});
		}
	}
}
@include spacing;

// OFFSET MAP
$offsets: (
	offset: 8rem,
	header-height: var(--offset),
	underline-offset: 0.25em,
	underline-thickness: 0.2em,
);

/* OFFSET VARIABLES */
@mixin offsets {
	@each $offset, $value in $offsets {
		--#{$offset}: #{$value};
	}
}

// RADIUS MAP
$radii: (
	radius-xs: 0.25rem,
	radius-s: 0.5rem,
	radius-m: 1rem,
	radius-l: 2rem,
	radius-50: 50%,
	radius-100: 100%,
	radius-full: 999rem,
);

/* "radius-" VARIABLES */
@mixin radii {
	@each $radius, $value in $radii {
		--#{$radius}: #{$value};
	}
}

// SHADOW MAP
$shadows: (
	shadow-s: 0 0.1rem 0.2rem 0,
	shadow-m: 0 0.2rem 1rem 0,
	shadow-l: 0 0.5rem 3rem 0,
	shadow-xl: 0 2rem 4rem -3rem,
);

/* "shadow-" VARIABLES */
@mixin shadows {
	@each $shadow, $value in $shadows {
		--#{$shadow}: #{$value};
	}
}
