@use "sass:map";
@use "../abstracts/workers" as *;

@mixin fontFamily {
	@each $font, $family in $fontFamily {
		--#{$font}: #{$family};
	}
}

$minWidth: map-get($container, minWidth);
$maxWidth: map-get($container, maxWidth);

/* FLUID TYPOGRAPHY */
$text-scale: 1.333;
$mob-text-scale: 1.15;
$base-text-desk: 1.8;
$base-text-mob: 1.6;

$text-m-max: $base-text-desk;
$text-m-min: $base-text-mob;

$text-s-max: calc($text-m-max / $text-scale);
$text-s-min: calc($text-m-min / $mob-text-scale);

$text-xs-max: calc($text-s-max / $text-scale);
$text-xs-min: calc($text-s-min / $mob-text-scale);

$text-l-max: calc($text-m-max * $text-scale);
$text-l-min: calc($text-m-min * $mob-text-scale);

$text-xl-max: calc($text-l-max * $text-scale);
$text-xl-min: calc($text-l-min * $mob-text-scale);

$text-xxl-max: calc($text-xl-max * $text-scale);
$text-xxl-min: calc($text-xl-min * $mob-text-scale);

/*** 
USEFUL TEXT VARIABLES
These can be used in place of classes or in custom classes.
***/

$text-xs: clamp(
	calc($text-xs-min * 1px),
	calc($text-xs-min) * 1px +
		(
			(1vw - ($minWidth / 100) * 1px) *
				(100 * ($text-xs-max - $text-xs-min) / ($maxWidth - $minWidth))
		),
	calc($text-xs-max * 1px)
);

$text-s: clamp(
	calc($text-s-min * 1px),
	calc(
		$text-s-min * 1px + (1vw - ($minWidth / 100) * 1px) *
			(100 * ($text-s-max - $text-s-min) / ($maxWidth - $minWidth))
	),
	calc($text-s-max * 1px)
);

$text-m: clamp(
	calc($text-m-min * 1px),
	calc(
		$text-m-min * 1px + (1vw - ($minWidth / 100) * 1px) *
			(100 * ($text-m-max - $text-m-min) / ($maxWidth - $minWidth))
	),
	calc($text-m-max * 1px)
);

$text-l: clamp(
	calc($text-l-min * 1px),
	calc(
		$text-l-min * 1px + (1vw - ($minWidth / 100) * 1px) *
			(100 * ($text-l-max - $text-l-min) / ($maxWidth - $minWidth))
	),
	calc($text-l-max * 1px)
);

$text-xl: clamp(
	calc($text-xl-min * 1px),
	calc(
		$text-xl-min * 1px + (1vw - ($minWidth / 100) * 1px) *
			(100 * ($text-xl-max - $text-xl-min) / ($maxWidth - $minWidth))
	),
	calc($text-xl-max * 1px)
);

$text-xxl: clamp(
	calc($text-xxl-min * 1px),
	calc(
		$text-xxl-min * 1px + (1vw - ($minWidth / 100) * 1px) *
			(100 * ($text-xxl-max - $text-xxl-min) / ($maxWidth - $minWidth))
	),
	calc($text-xxl-max * 1px)
);
