$transitions: (
	all-3: all 0.3s ease-in-out,
	all-5: all 0.5s ease-in-out,
);

@mixin transitions {
	@each $trans, $value in $transitions {
		--#{$trans}: #{$value};
	}
}

/* UTILITY CLASSES */
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.x-flip,
.x-flip > div {
	transform: scaleX(-1);
}

.x-flip-on-hover,
.x-flip-on-hover > div {
	&:hover {
		transform: scaleX(-1);
	}
}

.y-flip,
.y-flip > div {
	transform: scaleY(-1);
}

.y-flip-on-hover,
.y-flip-on-hover > div {
	&:hover {
		transform: scaleY(-1);
	}
}

.xy-flip,
.xy-flip > div {
	transform: scale(-1, -1);
}

.xy-flip-on-hover,
.xy-flip-on-hover > div {
	&:hover {
		transform: scale(-1, -1);
	}
}
