/* HOME PAGE STYLES */

.home {
	.btn-action {
		--color: var(--white);
	}

	.btn-black {
		--color: var(--white);

		&:hover {
			--color: var(--black);
		}
	}

	.btn-white {
		--border-color: var(--grey-2);
	}

	[class*="link-"] {
		--bg: var(--grey-3);
		padding: 1em;
	}
}
