/* EDIT TO YOUR USED FONTS */

/* WOFF */
@font-face {
	font-display: swap;
	font-family: "font-name";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/font-name-400.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "font-name";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/font-name-700.woff") format("woff");
}

/* WOFF2 */
@font-face {
	font-display: swap;
	font-family: "font-name";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/font-name-400.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "font-name";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/font-name-700.woff2") format("woff2");
}
