/* DO NOT TOUCH */

/* BASE SETTINGS */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  background-color: var(--bg);
  background-size: cover;
  color: var(--color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  word-wrap: break-word;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;

  /* INPUT DEFAULT SETTINGS */
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="url"],
  input[type="tel"],
  input[type="text"],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* CHROME, SAFARI, EDGE, OPERA */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  /* FIREFOX */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="email"],
  input[type="date"],
  input[type="search"],
  input[type="number"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    --min-height: 2.8em;

    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    min-height: var(--min-height);
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    box-shadow: var(--input-box-shadow);
    transition: var(--transition);
  }

  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    box-shadow: var(--input-box-shadow-hover);
    outline: 0;
  }

  [type="submit"],
  [type="button"],
  [role="button"],
  [type="reset"] {
    --border: 0;

    cursor: pointer;
    min-height: var(--min-height);
    background-color: var(--bg);
    border: var(--border);
    padding: var(--padding);
    font-size: inherit;
  }

  input:not([type="submit"], [type="button"], [role="button"], [type="reset"]),
  option,
  textarea,
  optgroup,
  ::placeholder {
    font: inherit;
    text-align: inherit;
    color: inherit;
    cursor: default;
  }

  select {
    --bg: transparent;
    --select-bg: linear-gradient(45deg, transparent 50%, var(--grey-5) 0),
      linear-gradient(135deg, var(--grey-5) 50%, transparent 0);
    --border-color: var(--grey-5);
    --border-width: 1px;
    --min-height: auto;

    appearance: none;
    min-height: var(--min-height);
    width: 100%;
    max-width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--em-m);
    cursor: pointer;
    font: inherit;
    text-align: inherit;
    vertical-align: middle;
    box-shadow: var(--input-box-shadow);
    transition: var(--transition);

    background-color: var(--bg);
    color: inherit;
    background-image: var(--select-bg);
    background-position:
      calc(100% - 20px) calc(50% + 2px),
      calc(100% - 16px) calc(50% + 2px);
    background-repeat: no-repeat;
    background-size:
      4px 4px,
      4px 4px;
  }

  audio,
  canvas,
  embed,
  iframe,
  object,
  picture,
  img,
  svg,
  video {
    display: inline-block;
    font: inherit;
    color: inherit;
    vertical-align: middle;
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  .iconify,
  svg.iconify {
    --font-size: inherit;

    font-size: var(--font-size);
    color: var(--color);
  }

  figure {
    margin: 0;
  }

  ul,
  ol,
  li {
    --list: none;

    list-style-type: var(--list);
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }
}

/* DEFAULT LINKS */
a {
  --color: currentColor;
  --text-decoration: none;
  --transition: inherit;

  display: inline-flex;
  color: var(--color);
  text-decoration: var(--text-decoration);
  transition: var(--transition);

  &:hover,
  &:active {
    color: var(--color);
  }
}

/* CLICKABLE CARD */
.clickable-card:not(a),
.clickable-card:not(a) a,
a.clickable-card {
  position: static;
}

.clickable-card:not(a) > a::after,
a.clickable-card::after {
  content: "";
  position: absolute;
  inset: 0;
  display: flex;
  cursor: pointer;
}

/* SCREEN READER ACCESSIBLE NO-DISPLAY */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  border: 0 !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  overflow-wrap: normal !important;
  overflow: hidden !important;
}

.skip {
  --inline-size: 1px;
  --block-size: 1px;
  --padding: 0;
  --margin: -1px;
  --border: 0;
  --clip: rect(1px, 1px, 1px, 1px);
  --clip-path: inset(50%);
  --bg: transparent;
  --color: inherit;

  position: absolute;
  top: var(--space-s);
  left: var(--space-s);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--em-m);
  inline-size: var(--inline-size);
  block-size: var(--block-size);
  padding: var(--padding);
  margin: var(--margin);
  border: var(--border);
  clip: var(--clip);
  clip-path: var(--clip-path);
  background-color: var(--bg);
  color: var(--color);
  font-size: inherit;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap !important;
  word-wrap: normal !important;
  overflow-wrap: normal !important;
  overflow: hidden !important;
  transition: var(--transition);

  &:focus {
    --inline-size: auto;
    --block-size: auto;
    --padding: 1em 1.5em;
    --margin: 0;
    --clip: auto;
    --clip-path: none;
    --bg: var(--white);
    z-index: 9999;
  }
}

/* USER ANIMATION PREFERENCE */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::before,
  ::after {
    animation-delay: -1ms;
    animation-duration: 1ms;
    animation-iteration-count: 1;
    background-attachment: initial;
    scroll-behavior: auto;
    transition-duration: 0s;
    transition-delay: 0s;
  }
}
