@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "../abstracts/workers" as *;

// Use colors from abstracts/_workers.scss
@mixin colors {
	@each $color, $value in $colors {
		// HSL SCSS VARIABLES
		$h: round(hue($value));
		$s: round(saturation($value));
		$l: round(lightness($value));

		// CHECKS
		@if $color ==
			"base" or
			$color ==
			"alt" or
			$color ==
			"action" or
			$color ==
			"white" or
			$color ==
			"black"
		{
			/* HSL INDIVIDUAL VARIABLES FOR MAIN COLORS */
			--#{$color}-h: #{$h};
			--#{$color}-s: #{$s};
			--#{$color}-l: #{$l};
		}

		--#{$color}: #{hsl($h $s $l)};

		// CHECKS
		@if $color ==
			"base" or
			$color ==
			"alt" or
			$color ==
			"action" or
			$color ==
			"white" or
			$color ==
			"black"
		{
			/*  TRANSPARENT VARIANTS FOR MAIN COLORS */
			@for $i from 1 through 9 {
				$scale: math.div($i * 10, 100);
				--#{$color}-trans-#{$i}: #{hsla($h, $s, $l, $scale)};
			}
		}

		@if $color == "white" or $color == "black" {
			$shades: (#{$color}-hover: var(--grey-2), #{$color}-dark: var(--grey-5));

			@each $color, $value in $shades {
				--#{$color}: #{$value};
			}
		}
	}
}

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: var(--#{$color});
	}
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: var(--#{$color});
	}
}
