@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "../abstracts/functions" as *;

/* FONT SIZES */

// "text-" Font-size Classes
@for $i from 1 through length($suffix) {
	$step: list.nth($suffix, $i);
	.text-#{$step} {
		font-size: var(--text-#{$step});
	}
}

/* FONT WEIGHTS */
@for $i from 1 through 9 {
	$weight: calc($i * 100);

	// "w-" Font-weight Classes
	.w-#{$weight} {
		font-weight: #{$weight};
	}
}

/* LINE HEIGHT */
$lines: (
	"no-line": 1,
	"line-2xs": 1.1,
	"line-xs": 1.2,
	"line-s": 1.3,
	"line-m": 1.4,
	"line-l": 1.5,
	"line-xl": 1.6,
	"line-2xl": 1.7,
	"line-3xl": 1.8,
	"line-4xl": 1.9,
	"line-5xl": 2,
);

// "--line-" Root Line-height Variables
@mixin lines {
	@each $line, $value in $lines {
		--#{$line}: #{$value};
	}
}

@each $line, $value in $lines {
	// "line-" Line-height Classes
	.#{$line} {
		line-height: var(--#{$line});
	}
}

// DEFAULTS
[class*="text--"],
h1,
h2,
h3,
h4,
h5,
h6 {
	--font-family: var(--base-font);
	--font-weight: var(--w-700);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	line-height: var(--line);
}

h1 {
	--font-size: var(--text-3xl);
	--line: var(--line-xs);
}

h2 {
	--font-size: var(--text-2xl);
	--line: var(--line-s);
}

h3 {
	--font-size: var(--text-xl);
	--line: var(--line-s);
}

h4 {
	--font-size: var(--text-l);
	--line: var(--line-m);
}

h5 {
	--font-size: var(--text-m);
	--line: var(--line-m);
}

h6 {
	--font-size: var(--text-s);
	--line: var(--line-m);
}
